{% include 'pages/index.html' %}
{% block content %}

<section class="catlist">




    <div class="section-header">
        <div class="container">
          <h2>Cats to Adopt</h2>
          <h3>Here is our fur babies waiting to be adopted by a loving heart and a caring hand.</h3>
    </div>

</section>


<section class="team">

    <div class="row">

        <div class="column">
    <div class="card">
        <div class="card-img">
            <img src="../static/images/tobby.jpg" alt="image 1">
        </div>
        <div class="card-info">
            <h2 class="card-name">Tobby</h2>
            <p class="card-role"></p>
            <!--<p class="card-email">jane@example.com</p>-->
            <a href=" "><button class="button">Details</button></a>
        </div>
    </div>
    </div>

    <div class="column">
    <div class="card">
        <div class="card-img">
            <img src="../static/images/tina.jpg" alt="image 1">
        </div>
        <div class="card-info">
            <h2 class="card-name">Tina</h2>
            <p class="card-role"></p>
            <!--<p class="card-email">jane@example.com</p>-->
            <a href=" "><button class="button">Details</button></a>
        </div>
    </div>
    </div>

    <div class="column">
    <div class="card">
        <div class="card-img">
            <img src="../static/images/sky.jpg" alt="image 1">
        </div>
        <div class="card-info">
            <h2 class="card-name">Sky</h2>
            <p class="card-role"></p>
            <!--<p class="card-email">jane@example.com</p>-->'
            <a href=" "><button class="button">Details</button></a>
        </div>
    </div>
</div>

</div>

<div class="row">

    <div class="column">
    <div class="card">
        <div class="card-img">
            <img src="../static/images/luna.avif" alt="image 1">
        </div>
        <div class="card-info">
            <h2 class="card-name">Luna</h2>
            <p class="card-role"></p>
            <!--<p class="card-email">jane@example.com</p>-->
            <a href=" "><button class="button">Details</button></a>
        </div>
    </div>
    </div>

<div class="column">
    <div class="card">
        <div class="card-img">
            <img src="../static/images/ginger.jpg" alt="image 1">
        </div>
        <div class="card-info">
            <h2 class="card-name">Ginger</h2>
            <p class="card-role"></p>
            <!--<p class="card-email">jane@example.com</p>-->
            <a href=" "><button class="button">Details</button></a>
        </div>
    </div>
    </div>

    <div class="column">
    <div class="card">
        <div class="card-img">
            <img src="../static/images/daisy.jpg" alt="image 1">
        </div>
        <div class="card-info">
            <h2 class="card-name">Daisy</h2>
            <p class="card-role"></p>
            <!--<p class="card-email">jane@example.com</p>-->
            <a href=" "><button class="button">Details</button></a>
        </div>
    </div>
    </div>

</div>

</section>


    
{% endblock %} 
{% include 'pages/footer.html' %}