{% extends 'pages/index.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <h1>Create User</h1>
    <form method="POST" class="mt-3">
        {% csrf_token %}
        <!-- No Bootstrap classes -->
        <div>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div>
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>
        <div>
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>
        <div>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div>
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        <!-- No Bootstrap button class -->
        <button type="submit">Create User</button>
    </form>
</div>
{% endblock %}
