
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img alt="logo" width="70" height="70" class="d-inline-block align-text-top" src="{% static 'images/catz logo.png'%}">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutpage">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contactpage">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/catlist">Cats to Adopt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create_user">Create user</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</nav>